html {
  background-color: #ffffff;
  margin-left: 20px;
  margin-right: 20px;  
}

h1 {
  font-size: 3vw;
  color:#71A9F7;
  background-color: bisque;
  margin-bottom: 15px;
  text-align: center;
  border: solid 2px black;
  
  

}


main {
  color: #000000;
  width: 80%;
  margin: auto;
  /* border: 2px solid red; */
  text-align: justify;
  
}

p {
  margin: 5%;
 
}

h2, h3 {
  border: 2px solid black;
  width: 30%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: justify;
  padding-left: 40px;

}

ol {
  list-style-type: decimal;
  margin-left: 350px;
}

ul {
  list-style-type: disc;
  margin-left: 350px;
  
}