html {
  background-color: #ffffff;
  margin-left: 20px;
  margin-right: 20px;  
}

h1 {
  font-size: 3vw;
  color:#71A9F7;
  margin-bottom: 15px;
  border-radius: ;
  border-inline-start-style: ridge;

}


body {
  color: #000000;
  text-align: justify;
  
}

