html {
  background-color: #C6D8FF;  
}

h1 {
  font-size: 3vw;
  color:#000000;
  background-color: #a9fbc3;
  margin: 5px;
  padding: 15px;
  border-radius: ;
  border-inline-start-style: ridge;

}


body {
  color: #000000;
  background-color: #595F72;
  margin: 10px;
  text-align: justify;
  ;

  
  
}

